<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Dear <%= @user.username %>, </p>
    <p>The details of the MagicMic broadcast that you saved, <%= @topic %>,  have been changed. <%= link_to "see the updates", broadcast_url(@broadcast) %></p>
 </body>
</html>
