<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p> We are sorry to inform you that the broadcast you expressed interest in has been cancelled</p>
    <h1><%= @broadcast.topic %> cancelled</h1>
  </body>
</html>
