<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p> We are sorry to inform you that the broadcast you saved, <%= @broadcast.topic %>, has been cancelled</p>
  </body>
</html>
