<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Dear <%= @user.username %> ,
     	 <%= @broadcast.topic %>  has been added to your saved MagicMic broadcasts. <%= link_to "You can listen here", broadcast_url(@broadcast) %></p>
  </body>
</html>