<div id="headhones">
  <%= link_to image_tag("headphones.png"), "http://localhost:8888" + "?room=room#{@broadcast.id}" %>

  <%= render 'reminder_settings/form', locals: {reminder_setting: @reminder_setting}  %>

</div>

