<div id="broadcast-index">
<p>
  
</p>
<%= form_tag broadcasts_path, method: 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<% if @broadcasts %>
  <% @broadcasts.each do |stream| %>
    <p><%= link_to stream.topic, broadcast_path(stream) %></p>
  <% end %>
<% end %>






</div>
