<% if @broadcasts %>
<% Broadcast.reset_broadcast_list %>
  <% @broadcasts.each do |stream| %>
    <p><%= link_to stream.topic, broadcast_path(stream) %></p>
  <% end %>
<% end %>

<%= link_to 'Schedule a Broadcast', new_broadcast_path %>
