// Place all the styles related to the broadcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reminder-settings-form{
 display: none;
 border: 1px solid blue;
 box-sizing: border-box;
 margin-right: 80%;
 padding: 20px;
    margin: 30px auto;

    width:330px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, gray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, gray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, gray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, gray); /* Standard syntax */

    border-radius: 5px;

}

